@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /* border: solid 1px rgb(61, 61, 61); */
}
body{
    background-color: rgb(24, 45, 53);
    background-image: url('https://source.unsplash.com/DjjaZybYx4I/1600x900');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:overlay;
}
::-webkit-scrollbar-thumb {
    background-color: #5e6364;
}
::-webkit-scrollbar-corner {
    background-color: #2e2f30;
}
::-webkit-scrollbar {
    background-color: rgb(16, 29, 29);
    color: #ccc3b6;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    font-family: 'Comfortaa', cursive;
}
ul{
    list-style: none;
    text-decoration: none; 
    display: flex; 
}
header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 10px 60px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s ease;
}
li,li a{
    font-weight: bold;
    color:rgb(219, 219, 219);
}
header ul{
    float: right;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-flow: row;
}
header li a{
    display: inline-block;
    position: relative;
    padding: 8px 0;
    transition: all 0.2s ease-in;
    margin: 10px 0 0 50px;
}
header li a:active{
    opacity: 0;
}
header li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(160, 160, 160);
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }
header li a:hover::after {
    transform: scale(1);
}
#navbar.fixed{
    position: fixed;
    background: #0c1c2c !important;
    height: 80px;
    animation: slide-down 0.3s;
    border-bottom: solid 1px #222;
}
@keyframes slide-down {
    0%{
        transform: translateY(-100px);
    }
}
.logo{
    font-size: large;
    /* padding: 10px; */
    font-size: 15px;
    visibility: hidden;
    float: left;
    display: flex;
    align-items: center;
    color:cadetblue;
    justify-content: space-between;
    width: fit-content;
}
.logo.show{
    visibility: visible;
    animation: slide-down 0.3s;
}
.menu-icon{
    justify-content: space-around;
    align-items: center;
    transition: all 0.3s;
    display: none;
}
.line{
    width: 28px;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(175, 175, 175);
    margin: 6px 0;  
}
.logo a{
    color: rgb(196, 255, 138);
    font-size: 35px;
    font-family: 'Shalimar', cursive;
}

#Home{
    position: relative;
    width: 100%;
    color: aliceblue;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: solid 1px rgba(0, 0, 0, 0);
}
.home-text{
    margin-top: 50vh;
    justify-content: left;
    line-height: 44px;
    height: 100px;
    margin-left: 5%;
    animation: slide-right 0.4s ease-in-out;
}
@keyframes slide-right {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
    }
}
.home-text p:nth-child(1){
    font-size: 20px;
    opacity: 50%;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-text p:nth-child(2){
    color:darkorange;
    font-size: 28px;
    font-family: 'Comfortaa', cursive;
}
.home-text p:nth-child(3){
    font-size: 22px;
    opacity: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home-text a{
    margin-top: 8px;
    margin-left: 2px;
    max-height: 37px;
    padding: 1px 20px;
    display: inline-block;
    font-weight: bold;
    color: black;
    background: rgb(206, 206, 206);
    /* background: rgba(84, 82, 128, 0.575); */
    z-index: 0;
    border-radius: 4px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}
.home-text a:hover{
    color: rgb(236, 236, 236);
    z-index: 1;
}
.home-text a:hover::after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease;
}
.home-text a::after{
    content: "";
    transition: all 0.3s ease;
    background: linear-gradient(90deg,rgb(35, 119, 187),rgb(56, 166, 230));
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
}
.headline{
    height: fit-content;
    width: 100%;
    color: darkslateblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin: 20px 0 10px 0;
}
.section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 60px 60px 60px;
}
#Skills{
    background: rgba(255, 255, 255, 0.8);
}
#About .headline,#Projects .headline{
    color: darkgrey;
}
#Skills ul{
    display: inline-flex;
    max-width: 60%;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Skills li{
    margin: 10px 0px;
    color: rgb(47, 79, 79);
    flex:1 0 21%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
}
#Skills i{
    display: inline-block;
    margin-bottom: 20px;
    color: royalblue;
}
#Skills li:nth-child(2) i{
    color: rgb(5, 170, 88);
}
#Skills li:nth-child(4) i{
    color: rgb(109, 55, 209);
}
#Skills li:nth-child(3) i{
    color: rgb(245, 114, 53);
}
#Skills li:nth-child(6) i{
    color: rgb(247, 108, 44);
}
#Skills li:nth-child(8) i{
    color: rgb(103, 11, 223);
}
#Skills img{
    max-height: 300px;
    animation: jaggle 3s infinite alternate;
}
@keyframes jaggle {
    0%{
        transform: translateY(-20px);
    }
}
#About{
    background: rgba(8, 62, 66, 0.85);
}
#About img{
    max-height: 350px;
    margin-top: 20px;
    animation: jaggle 3s 2s infinite alternate;
}
#About p:last-child{
    padding:40px;
    display: inline-block;
    line-height: 30px;
    width: 50%;
    color:darkseagreen;
    font-size: 20px;
    margin: auto;
    flex-grow: 1;
}
#Projects{
    background: rgba(39, 36, 46, 0.85);
}
.card{
    height: 300px;
    display: flex;
    color: rgb(235, 235, 235);
    border: solid 1px rgb(91, 48, 97);
    margin: 20px;
    align-items: center;
    /* background-color: rgb(42, 33, 51); */
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    border-radius: 15px;
    padding: 10px;
    max-width:28%;
    transition: all 0.2s ease;
    /* z-index: 0; */
    overflow: hidden;
}
.card:hover{
    transform: translate(-14px,-12px);
    overflow: hidden;
    box-shadow: 5px 5px rgb(58, 74, 146), 10px 10px rgb(58, 143, 96);
}
.card .pic{
    width: 100%;
    height: 100%;
    background: url('https://source.unsplash.com/500x500/?project') center center/cover;
    opacity: 80%;
    border-radius: 10px;
}
.card p{
    margin: 10px;
}
#Contact{
    background: rgba(10, 85, 56, 0.8);
}
#Contact .headline{
    color: rgb(155, 178, 182);
}
#Contact img{
    max-height: 300px;
    animation: jaggle 3s infinite alternate;
}
#Contact div{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    line-height: 30px;
    color: lightgreen;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.bold{
    font-weight: bold;
    color: rgb(214, 214, 214);
}
footer{
    text-align: center;
    align-items: center;
    justify-content: center;
}
footer p{
    color: #757575;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 5px 0;
}
footer i{
    color: rgb(247, 33, 75);
    text-shadow: 0px 0px 5px rgba(235, 76, 110, 0.486);
}
@media only screen and (max-width:1050px){
    #Skills li{
        flex:1 0 21%;
        margin: 20px 15px;
    }
    #Skills ul{
        max-width: 50%;
    }
    img{
        max-width: 50%;
    }
    .card{
        max-width: 25%;
    }
}
@media only screen and (max-width:700px){
    header{
        /* display: none; */
        align-items: center;
        flex-flow: column;
        flex-direction: column;
        justify-content: space-between;
        /* height: 100vh; */
        height: 80px;
        padding: 20px;
    }
    header ul{
        display: none;
        margin-bottom: 10vh;
        align-items: center;
        /* flex-flow: column;
        flex-direction: column;*/ 
    }
    header li a{
        margin: 20px 0 40px 0;
    }
    .menu-icon{
        display: block;
        visibility: visible;
        transform: scale(0.8);
    }
    .logo{
        width: 100%;
        /* margin-top: 10px; */
    }
    #navbar.fixed{
        position: fixed;
        background-color: #0c1c2c;
        /* height: 100vh; */
        height: 80px;
        animation: slide-down 0.3s;
        border-bottom: solid 1px #222;
    }
}
@media only screen and (max-width:600px){
    .headline{
        margin-bottom: 20px;
    }
    img{
        margin: 20px 0;
        max-width: 80%;
        padding: 0;
    }
    p{
        padding: auto;
        margin: auto;
    }
    .section{
        padding: 30px 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        flex-flow: column ;
    }
    #Skills li{
        flex:1 0 20%;
        margin: 20px 15px;
    }
    #Skills ul{
        max-width: 100%;
    }
    .card{
        max-width: 80%;
    }
    #About p:last-child{
        padding: 40px 0;
        width: 90%;
        margin: 0;
    }
    .home-text{
        line-height: 30px;
        margin-top: 40vh;
    }
    .home-text p:nth-child(1){
        font-size: 15px;
    }
    .home-text p:nth-child(2){
        font-size: 22px;
        margin-right: 30%;
    }
    .home-text p:nth-child(3){
        font-size: 18px;
    }
    .home-text a{
        margin-top: 30px;
        padding: 5px 20px;
    }
}
